@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

// @media only screen and (min-device-width:360px) and (max-device-width:768px){   //phones only having min width 480px
 //Mobile code 
  .preload{
    //background-color: #3B3E47;
    background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
    color:#EBF2F8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   p{
     position: relative;
     transform: translateY(-50%);
     letter-spacing: 5px;
     animation: text-clip 1s 0.6s cubic-bezier(0.5, 0, 0.1, 1) both;
   }
   .underline{
     position: relative;
     width: 180px;
     height: 1px;
     background-color:#EBF2F8 ;
     animation: line-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;

   }
  }

  @keyframes text-clip {
    from {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    to {
      clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
      
    }
  }

  @keyframes line-clip {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    to {
      clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
  }

  @keyframes underline {
    from {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      
    }
    to {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
      
    }
  }


  .social{
    list-style: none;
  }
.site-begin{
  background-color: #FBFEFE;
nav{
  display: grid;
  grid-template-columns: 5% 1fr 5%;
 margin-bottom: 1rem;
  ul{
    grid-column: 1/4;
    display:flex;
    justify-content: space-around;
    align-items: center;
   
     //anchor tags
    a{
      text-decoration: none;
      color:#1F232D;
      &:hover{
        color: #2C71A7;
       }
       //list
      li{
        font-size: 0.8rem;
        list-style: none;
        margin-top: 1rem;
      }
      
      
       

    }
   
   
 
 }
}
//Blob
.home{
  color:#1F232D;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
.container{
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;

  .hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;

    picture{
      position: relative;
      left: -2%;
      img{
        margin: 2rem 1rem;
      }
     
    }
    .hero-text{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items:center;


  h1{
    font-size: 3rem;
  
  }
  h2{
    font-size: 2rem;
  }
  //call to action
  a{
    margin: 1rem auto;
  button{
    background-color:#2C71A7;//AAD4FF; 
    border: none;
    color: #FBFEFE;//1F232D;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    font-size:1rem;
    font-weight:500;
    &:hover{
      background-color:#1F232D;//#AED2E7;
      color:#FBFEFE;
    }
    
   }
  }
  //social 
 .social{
  ul{
    //border: 1px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{ 
      text-decoration: none;
      color: #1F232D;
    li{
      list-style: none;
      margin:1rem ;
    }
    &:hover{
     color: #2C71A7;
    }
   }
  }

    }
  }
}

// class heading
.heading{
  font-size: 2rem;
  font-weight:600;
  margin:1rem auto; 
}


.job-container{
 
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
//jobs
.job{
  display:flex ; 
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  
  //color:#1F232D;
  // margin: 3rem auto;
  // padding: 1rem auto;
  margin: 1.5rem auto;
  width:250px;
  height: 250px;
  padding: 15%;
  border-radius: 10px;
  background-color: #F2F7F8;
  box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
  h2{
    font-size: 1.5rem;
    font-weight: 600;
    color:#1F232D;
  }
  h3{
    font-size: 1rem;
    font-weight: 400;
    color:#1F232D;
  }
  h4{
    font-family: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color:#1F232D;
  }
}


//card container
.card-container{

  align-self: center;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr;
  
 
}

//cards
.card{
  margin: 1.5rem auto;
  width:300px;
  height: 300px;
  padding: 5%;
  border-radius: 10px;
  background-color: #F2F7F8;
  box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
  //border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  h2{
    color:#1F232D;
    font-size: 18px;
    text-align: center;
    margin: 0.5rem auto;
  }
  p{
    color:#494E55;
    font-size: 0.88rem;
    font-weight: 500;
    text-align: center;
    span {
      color:black;
      font-weight:500;
    }
    
  }
  a{
    text-decoration: none;
    color: #1f2d1f;
    &:hover{
      color: #2C71A7;
  }
 
  
}
}
    
.view-more{
  text-decoration: none;
  color:#494E55;
  &:hover{
    color: #2C71A7;
}
}


.about-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.about-img{
 img{
   position: relative;
   top: 0;
   width: 5rem;
   margin: 0.2rem;
 }
}

.about{
  margin: 1.5rem 1rem;
  width:350px;
  height: auto;
  padding: 0%;
  border-radius:0px;
  background-color:none;
  box-shadow: none;
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(5%);
  

  p{
   
    color:#494E55;
    font-size: 0.88rem;
    font-weight: 500;
    text-align: left;
    width: 20rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
    span {
      color:black;
      font-weight:500;
    }

   
    
  }
}





.form-container{
  //border: 1px solid red;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5% auto;
  padding: 5%;
  background-color:#FBFEFE;
  border-radius: 10px;
  box-shadow: 0;
  h2{
    position: relative;
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  form{
  //border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center ;
  
  label{
    margin: 5px;
    font-weight: 400;
    letter-spacing: 1px;
    input{
      margin: 5px;
      border: none;
      border-bottom: 1px solid #1F232D;
      background-color: #FBFEFE;
  
    }
  }
  button{
    background-color: #1F232D;
    border:none;
    padding:10px;
    margin: 2px;
    color:#FFFFF0;
    &:hover{
      background-color: #2C71A7;
    }
  }
  
  }
  }



//container finish
}
  
//home finish  
}


//site end
}
//footer
.footer{
  height: 100vh;
  height: auto;
background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
color:#FBFEFE;
display: flex;
flex-direction: column;
  justify-content: space-evenly;
  align-items:center ;
.footer-heading{
  display: flex;
  justify-content: center;
  h1{
  position: relative;
  font-size: 1rem;
  font-weight: 400; 
  padding-top:5px;
  padding-bottom: 5px;
  
 }
}
.social{
  ul{
    display: flex;
    justify-content: space-around;
    a{
      text-decoration: none;
      color: #Fcfbf8;
      li{
        list-style: none;
        padding: 0.2rem 1rem;
      }
      &:hover{
        // color: rgb(153, 153, 140);
        color: #2C71A7;
      }
    }
}

} 
 .made{
   h2{
     font-size: 0.75rem;
     font-weight: 300;
     span a{
      text-decoration: none;
      color: #FBFEFE;;
      &:hover{
        text-decoration: underline;
      }
    }
   }
 }
 .copyright{
   h3{
     margin: 0.63rem;
  font-size: 10px;
  font-weight: 200;
 }
}
}
//end

@media(min-width:600px){
 

  
  .site-begin{
    background-color: #FBFEFE;
  nav{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    ul{
      grid-column: 1/4;
      display:flex;
      justify-content: space-around;
      align-items: center;
     
       //anchor tags
      a{
        text-decoration: none;
        color:#1F232D;
        &:hover{
          color: #2C71A7;
         }
         //list
        li{
          font-size: 0.8rem;
          list-style: none;
          margin-top: 1rem;
        }
        
        
         
  
      }
     
     
   
   }
  }
  //Blob
  .home{
    color:#1F232D;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
  .container{
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
  
    .hero{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items:center;
  
      picture{
        position: relative;
        left: -2%;
        img{
          margin: 1rem 1rem;
        }
      }
      .hero-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
  
  
    h1{
      font-size: 3rem;
    
    }
    h2{
      font-size: 2rem;
    }
    //call to action
    a{
      margin: 1rem auto;
    button{
      background-color:#2C71A7;//AAD4FF; 
      border: none;
      color: #FBFEFE;//1F232D;
      text-decoration: none;
      padding: 0.6rem 0.8rem;
      font-size:1rem;
      font-weight:500;
      &:hover{
        background-color:#1F232D;//#AED2E7;
        color:#FBFEFE;
      }
      
     }
    }
    //social 
   .social{
    ul{
      //border: 1px solid green;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a{ 
        text-decoration: none;
        color: #1F232D;
      li{
        list-style: none;
        margin:1rem ;
      }
      &:hover{
       color: #2C71A7;
      }
     }
    }
  
      }
    }
  }
  
  // class heading
  .heading{
    font-size: 2rem;
    font-weight:600;
    margin:1rem auto; 
  }
  
  //jobs
  .job{
    display:flex ; 
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
    //color:#1F232D;
    // margin: 3rem auto;
    // padding: 1rem auto;
    margin: 1.5rem auto;
    width:250px;
    height: 250px;
    padding: 15%;
    border-radius: 10px;
    background-color: #F2F7F8;
    box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
    h2{
      font-size: 1.5rem;
      font-weight: 600;
      color:#1F232D;
    }
    h3{
      font-size: 1rem;
      font-weight: 400;
      color:#1F232D;
    }
    h4{
      font-family: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
      font-weight: 400;
      color:#1F232D;
    }
  }
  
  //cards
  .card{
    margin: 1.5rem auto;
    width:300px;
    height: 300px;
    padding: 5%;
    border-radius: 10px;
    background-color: #F2F7F8;
    box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
    //border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    h2{
      color:#1F232D;
      font-size: 18px;
      text-align: center;
      margin: 0.5rem auto;
    }
    p{
      color:#494E55;
      font-size: 0.88rem;
      font-weight: 500;
      text-align: center;
      span {
        color:black;
        font-weight:500;
      }
      
    }
    a{
      text-decoration: none;
      color: #1f2d1f;
      &:hover{
        color: #2C71A7;
    }
   
    
  }
  }
      
  .view-more{
    text-decoration: none;
    color:#494E55;
    &:hover{
      color: #2C71A7;
  }
  }
  .about-img{
    img{
      width:10rem;
    }
    
   
  }
  
  .about{
    margin: 1.5rem 1rem;
    width:100vh;
    height: auto;
    padding: 1%;
    border-radius:0px;
    background-color:#FBFEFE;
    box-shadow: none;
    //border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    p{
      margin-bottom: 0.5rem;
      color:#494E55;
      font-size: 0.88rem;
      font-weight: 500;
      text-align: left;
      width: 24rem;
      line-height: 1.5rem;
      span {
        color:black;
        font-weight:500;
      }
      
    }
  }
  
  .form-container{
    //border: 1px solid red;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5% auto;
    padding: 5%;
    background-color:#FBFEFE ;
    border-radius: 10px;
    box-shadow: 0;
    h2{
      position: relative;
      
      align-self: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 300;
    }
    form{
    //border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    
    label{
      margin: 5px;
      font-weight: 400;
      letter-spacing: 1px;
      input{
        margin: 5px;
        border: none;
        border-bottom: 1px solid #1F232D;
        background-color: #FBFEFE;
    
      }
    }
    button{
      background-color: #1F232D;
      border:none;
      padding:10px;
      margin: 2px;
      color:#FFFFF0;
      &:hover{
        background-color: #2C71A7;
      }
    }
    
    }
    }
  
  
  
  //container finish
  }
    
  //home finish  
  }
  
  
  //site end
  }

}


@media(min-width:768px){
 
  .about-img{
    img{
      width:10rem;
    }
    
   
  }
  
  .about{
    margin: 1.5rem 1rem;
    width:100vh;
    height: auto;
    padding: 1%;
    border-radius:0px;
    background-color:#FBFEFE;
    box-shadow: none;
    //border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    p{
      margin-bottom: 0.5rem;
      color:#494E55;
      font-size: 0.88rem;
      font-weight: 500;
      text-align: left;
      width: 24rem;
      line-height: 1.5rem;
      span {
        color:black;
        font-weight:500;
      }
      
    }
  }
  
}


@media(min-width:1024px){



  .preload{
    //background-color: #3B3E47;
    background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
    color:#EBF2F8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   p{
     position: relative;
     transform: translateY(-50%);
     letter-spacing: 5px;
     animation: text-clip 1s 0.6s cubic-bezier(0.5, 0, 0.1, 1) both;
   }
   .underline{
     position: relative;
     width: 180px;
     height: 1px;
     background-color:#EBF2F8 ;
     animation: line-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;

   }
  }

  @keyframes text-clip {
    from {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    to {
      clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
      
    }
  }

  @keyframes line-clip {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    to {
      clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
  }

  @keyframes underline {
    from {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      
    }
    to {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
      
    }
  }


  .social{
    list-style: none;
  }
.site-begin{
  background-color: #FBFEFE;
nav{
  display: grid;
  grid-template-columns: 5%  1fr 5%;
  ul{
    grid-column: 2/4;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
   
     //anchor tags
    a{
      text-decoration: none;
      color:#1F232D;
      &:hover{
        color: #2C71A7;
       }
       //list
      li{
        font-size: 1rem;
        list-style: none;
        margin-top: 1rem;
      }
      
      
       

    }
   
   
 
 }
}
//Blob
.home{
  color:#1F232D;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-gap:2rem;
.container{
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;

  .hero{
    grid-column: 1/4;
    height: 80vh;
    align-self: flex-start;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
   //border: 1px solid red;
    align-items:center;

    picture{
    position: relative;
    left: 10%;
    img{
      margin: 1rem 1rem;
    }
    }
    .hero-text{
      
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      align-items:flex-start;
    


  h1{
    font-size: 6rem;
  
  }
  h2{
    font-size: 3rem;
  }
  //call to action
  a{
    margin: 0.3rem 0;
  button{
    background-color:#2C71A7;//AAD4FF; 
    border: none;
    color: #FBFEFE;//1F232D;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    font-size:1rem;
    font-weight:500;
    &:hover{
      background-color:#1F232D;//#AED2E7;
      color:#FBFEFE;
    }
    
   }
  }
  //social 
 .social{
  ul{
    //border: 1px solid green;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    a{ 
      text-decoration: none;
      color: #1F232D;
    li{
      list-style: none;
      margin: 0;
      margin-right:1rem ;
    }
    &:hover{
     color: #2C71A7;
    }
   }
  }

    }
  }
}

// class heading
.heading{
  font-size: 2rem;
  font-weight:600;
  margin:1rem auto; 
}

.job-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
//jobs
.job{
  display:flex ; 
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  
  //color:#1F232D;
  // margin: 3rem auto;
  // padding: 1rem auto;
  margin: 1.5rem 1rem;
  width:300px;
  height: 250px;
  padding: 5%;
  border-radius: 10px;
  background-color: #F2F7F8;
  box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
  h2{
    font-size: 1.5rem;
    font-weight: 600;
    color:#1F232D;
  }
  h3{
    font-size: 1rem;
    font-weight: 400;
    color:#1F232D;
  }
  h4{
    font-family: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color:#1F232D;
  }
}

//card container
.card-container{
  grid-column: 2/5;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
 
}

//cards
.card{
  margin: 1.5rem 1rem;
  width:300px;
  height: 300px;
  padding: 5%;
  border-radius: 10px;
  background-color: #F2F7F8;
  box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
  //border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  h2{
    color:#1F232D;
    font-size: 18px;
    text-align: center;
    margin: 0.5rem auto;
  }
  p{
    color:#494E55;
    font-size: 0.88rem;
    font-weight: 500;
    text-align: center;
    span {
      color:black;
      font-weight:500;
    }
    
  }
  a{
    text-decoration: none;
    color: #1f2d1f;
    &:hover{
      color: #2C71A7;
  }
 
  
}
}
    
.view-more{
  text-decoration: none;
  color:#494E55;
  &:hover{
    color: #2C71A7;
}
}


.about-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}
.about-img{
 img{
   position: relative;
   top:0%;
   margin: 2rem;
   width: 15rem;
 }
}

.about{
  margin: 1.5rem 1rem;
  width:400px;
  height: auto;
  padding: 0%;
  border-radius:0px;
  background-color:none;
  box-shadow: none;
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(5%);
  

  p{
   
    color:#494E55;
    font-size: 0.88rem;
    font-weight: 500;
    text-align: left;
    width: 28rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
    span {
      color:black;
      font-weight:500;
    }

   
    
  }
}





.form-container{
  //border: 1px solid red;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% auto;
  padding: 5%;
  background-color:#FBFEFE ;
  border-radius: 10px;
  box-shadow: 0;
  h2{
    position: relative;
    align-self: center;
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: 300;
  }
  form{
  //border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center ;
  
  label{
    margin: 5px;
    font-weight: 400;
    letter-spacing: 1px;
    input{
      margin: 5px;
      width: 15rem;
      border: none;
      border-bottom: 1px solid #1F232D;
      background-color: #FBFEFE;
  
    }
  }
  button{
    background-color: #1F232D;
    border:none;
    padding:10px;
    margin: 2px;
    color:#FFFFF0;
    &:hover{
      background-color: #2C71A7;
    }
  }
  
  }
  }



//container finish
}
  
//home finish  
}


//site end
}
//footer
.footer{
  height: 100vh;
  height: auto;
background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
color:#FBFEFE;
display: flex;
flex-direction: column;
  justify-content: space-evenly;
  align-items:center ;
.footer-heading{
  display: flex;
  justify-content: center;
  h1{
  position: relative;
  font-size: 1rem;
  font-weight: 400; 
  padding-top:5px;
  padding-bottom: 5px;
  
 }
}
.social{
  ul{
    display: flex;
    justify-content: space-around;
    a{
      text-decoration: none;
      color: #Fcfbf8;
      li{
        list-style: none;
        padding: 0.2rem 1rem;
      }
      &:hover{
        // color: rgb(153, 153, 140);
        color: #2C71A7;
      }
    }
}

} 
 .made{
   h2{
     font-size: 0.75rem;
     font-weight: 300;
     span a{
      text-decoration: none;
      color: #FBFEFE;;
      &:hover{
        text-decoration: underline;
      }
    }
   }
 }
 .copyright{
   h3{
     margin: 0.63rem;
  font-size: 10px;
  font-weight: 200;
 }
}
}


  
  
}
