@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.preload {
  background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
  color: #EBF2F8;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preload p {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 5px;
  -webkit-animation: text-clip 3s 0.6s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: text-clip 3s 0.6s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.preload .underline {
  position: relative;
  width: 180px;
  height: 1px;
  background-color: #EBF2F8;
  -webkit-animation: line-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: line-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

@-webkit-keyframes text-clip {
  from {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
            clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
  }
}

@keyframes text-clip {
  from {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
            clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
  }
}

@-webkit-keyframes line-clip {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
            clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }
}

@keyframes line-clip {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
            clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }
}

@-webkit-keyframes underline {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes underline {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

.social {
  list-style: none;
}

.site-begin {
  background-color: #FBFEFE;
}

.site-begin nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 5%;
      grid-template-columns: 5% 1fr 5%;
  margin-bottom: 1rem;
}

.site-begin nav ul {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.site-begin nav ul a {
  text-decoration: none;
  color: #1F232D;
}

.site-begin nav ul a:hover {
  color: #2C71A7;
}

.site-begin nav ul a li {
  font-size: 0.8rem;
  list-style: none;
  margin-top: 1rem;
}

.site-begin .home {
  color: #1F232D;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
}

.site-begin .home .container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-begin .home .container .hero {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-begin .home .container .hero picture {
  position: relative;
  left: -2%;
}

.site-begin .home .container .hero picture img {
  width: 8rem;
  margin: 2rem 1rem;
}

.site-begin .home .container .hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-begin .home .container .hero .hero-text h1 {
  font-size: 3rem;
}

.site-begin .home .container .hero .hero-text h2 {
  font-size: 2rem;
}

.site-begin .home .container .hero .hero-text a {
  margin: 1rem auto;
}

.site-begin .home .container .hero .hero-text a button {
  background-color: #2C71A7;
  border: none;
  color: #FBFEFE;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  font-weight: 500;
}

.site-begin .home .container .hero .hero-text a button:hover {
  background-color: #1F232D;
  color: #FBFEFE;
}

.site-begin .home .container .hero .hero-text .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-begin .home .container .hero .hero-text .social ul a {
  text-decoration: none;
  color: #1F232D;
}

.site-begin .home .container .hero .hero-text .social ul a li {
  list-style: none;
  margin: 1rem;
}

.site-begin .home .container .hero .hero-text .social ul a:hover {
  color: #2C71A7;
}

.site-begin .home .container .heading {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem auto;
}

.site-begin .home .container .job-container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.site-begin .home .container .job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem auto;
  width: 250px;
  height: 250px;
  padding: 15%;
  border-radius: 10px;
  background-color: #F2F7F8;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
          box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
}

.site-begin .home .container .job h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1F232D;
}

.site-begin .home .container .job h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #1F232D;
}

.site-begin .home .container .job h4 {
  font-family: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #1F232D;
}

.site-begin .home .container .card-container {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.site-begin .home .container .card {
  margin: 1.5rem auto;
  width: 300px;
  height: 300px;
  padding: 5%;
  border-radius: 10px;
  background-color: #F2F7F8;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
          box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-begin .home .container .card h2 {
  color: #1F232D;
  font-size: 18px;
  text-align: center;
  margin: 0.5rem auto;
}

.site-begin .home .container .card p {
  color: #494E55;
  font-size: 0.88rem;
  font-weight: 500;
  text-align: center;
}

.site-begin .home .container .card p span {
  color: black;
  font-weight: 500;
}

.site-begin .home .container .card a {
  text-decoration: none;
  color: #1f2d1f;
}

.site-begin .home .container .card a:hover {
  color: #2C71A7;
}

.site-begin .home .container .view-more {
  text-decoration: none;
  color: #494E55;
}

.site-begin .home .container .view-more:hover {
  color: #2C71A7;
}

.site-begin .home .container .about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-begin .home .container .about-img img {
  position: relative;
  top: 0;
  width: 5rem;
  margin: 0.2rem;
}

.site-begin .home .container .about {
  margin: 1.5rem 1rem;
  width: 350px;
  height: auto;
  padding: 0%;
  border-radius: 0px;
  background-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.site-begin .home .container .about p {
  color: #494E55;
  font-size: 0.88rem;
  font-weight: 500;
  text-align: left;
  width: 20rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

.site-begin .home .container .about p span {
  color: black;
  font-weight: 500;
}

.site-begin .home .container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% auto;
  padding: 5%;
  background-color: #FBFEFE;
  border-radius: 10px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.site-begin .home .container .form-container h2 {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.site-begin .home .container .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-begin .home .container .form-container form label {
  margin: 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.site-begin .home .container .form-container form label input {
  margin: 5px;
  border: none;
  border-bottom: 1px solid #1F232D;
  background-color: #FBFEFE;
}

.site-begin .home .container .form-container form button {
  background-color: #1F232D;
  border: none;
  padding: 10px;
  margin: 2px;
  color: #FFFFF0;
}

.site-begin .home .container .form-container form button:hover {
  background-color: #2C71A7;
}

.footer {
  height: 100vh;
  height: auto;
  background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
  color: #FBFEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-heading h1 {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .social ul a {
  text-decoration: none;
  color: #Fcfbf8;
}

.footer .social ul a li {
  list-style: none;
  padding: 0.2rem 1rem;
}

.footer .social ul a:hover {
  color: #2C71A7;
}

.footer .made h2 {
  font-size: 0.75rem;
  font-weight: 300;
}

.footer .made h2 span a {
  text-decoration: none;
  color: #FBFEFE;
}

.footer .made h2 span a:hover {
  text-decoration: underline;
}

.footer .copyright h3 {
  margin: 0.63rem;
  font-size: 10px;
  font-weight: 200;
}

@media (min-width: 600px) {
  .site-begin {
    background-color: #FBFEFE;
  }
  .site-begin nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
  }
  .site-begin nav ul {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin nav ul a {
    text-decoration: none;
    color: #1F232D;
  }
  .site-begin nav ul a:hover {
    color: #2C71A7;
  }
  .site-begin nav ul a li {
    font-size: 0.8rem;
    list-style: none;
    margin-top: 1rem;
  }
  .site-begin .home {
    color: #1F232D;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 1fr 1fr 5%;
        grid-template-columns: 5% 1fr 1fr 5%;
  }
  .site-begin .home .container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .hero picture {
    position: relative;
    left: -2%;
  }
  .site-begin .home .container .hero picture img {
    margin: 1rem 1rem;
  }
  .site-begin .home .container .hero .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .hero .hero-text h1 {
    font-size: 3rem;
  }
  .site-begin .home .container .hero .hero-text h2 {
    font-size: 2rem;
  }
  .site-begin .home .container .hero .hero-text a {
    margin: 1rem auto;
  }
  .site-begin .home .container .hero .hero-text a button {
    background-color: #2C71A7;
    border: none;
    color: #FBFEFE;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .site-begin .home .container .hero .hero-text a button:hover {
    background-color: #1F232D;
    color: #FBFEFE;
  }
  .site-begin .home .container .hero .hero-text .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .hero .hero-text .social ul a {
    text-decoration: none;
    color: #1F232D;
  }
  .site-begin .home .container .hero .hero-text .social ul a li {
    list-style: none;
    margin: 1rem;
  }
  .site-begin .home .container .hero .hero-text .social ul a:hover {
    color: #2C71A7;
  }
  .site-begin .home .container .heading {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem auto;
  }
  .site-begin .home .container .job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.5rem auto;
    width: 250px;
    height: 250px;
    padding: 15%;
    border-radius: 10px;
    background-color: #F2F7F8;
    -webkit-box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
            box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
  }
  .site-begin .home .container .job h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1F232D;
  }
  .site-begin .home .container .job h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #1F232D;
  }
  .site-begin .home .container .job h4 {
    font-family: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #1F232D;
  }
  .site-begin .home .container .card {
    margin: 1.5rem auto;
    width: 300px;
    height: 300px;
    padding: 5%;
    border-radius: 10px;
    background-color: #F2F7F8;
    -webkit-box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
            box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .card h2 {
    color: #1F232D;
    font-size: 18px;
    text-align: center;
    margin: 0.5rem auto;
  }
  .site-begin .home .container .card p {
    color: #494E55;
    font-size: 0.88rem;
    font-weight: 500;
    text-align: center;
  }
  .site-begin .home .container .card p span {
    color: black;
    font-weight: 500;
  }
  .site-begin .home .container .card a {
    text-decoration: none;
    color: #1f2d1f;
  }
  .site-begin .home .container .card a:hover {
    color: #2C71A7;
  }
  .site-begin .home .container .view-more {
    text-decoration: none;
    color: #494E55;
  }
  .site-begin .home .container .view-more:hover {
    color: #2C71A7;
  }
  .site-begin .home .container .about-img img {
    width: 10rem;
  }
  .site-begin .home .container .about {
    margin: 1.5rem 1rem;
    width: 100vh;
    height: auto;
    padding: 1%;
    border-radius: 0px;
    background-color: #FBFEFE;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .about p {
    margin-bottom: 0.5rem;
    color: #494E55;
    font-size: 0.88rem;
    font-weight: 500;
    text-align: left;
    width: 24rem;
    line-height: 1.5rem;
  }
  .site-begin .home .container .about p span {
    color: black;
    font-weight: 500;
  }
  .site-begin .home .container .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5% auto;
    padding: 5%;
    background-color: #FBFEFE;
    border-radius: 10px;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  .site-begin .home .container .form-container h2 {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  .site-begin .home .container .form-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .form-container form label {
    margin: 5px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .site-begin .home .container .form-container form label input {
    margin: 5px;
    border: none;
    border-bottom: 1px solid #1F232D;
    background-color: #FBFEFE;
  }
  .site-begin .home .container .form-container form button {
    background-color: #1F232D;
    border: none;
    padding: 10px;
    margin: 2px;
    color: #FFFFF0;
  }
  .site-begin .home .container .form-container form button:hover {
    background-color: #2C71A7;
  }
}

@media (min-width: 768px) {
  .about-img img {
    width: 10rem;
  }
  .about {
    margin: 1.5rem 1rem;
    width: 100vh;
    height: auto;
    padding: 1%;
    border-radius: 0px;
    background-color: #FBFEFE;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about p {
    margin-bottom: 0.5rem;
    color: #494E55;
    font-size: 0.88rem;
    font-weight: 500;
    text-align: left;
    width: 24rem;
    line-height: 1.5rem;
  }
  .about p span {
    color: black;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  .preload {
    background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
    color: #EBF2F8;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .preload p {
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    letter-spacing: 5px;
    -webkit-animation: text-clip 1s 0.6s cubic-bezier(0.5, 0, 0.1, 1) both;
            animation: text-clip 1s 0.6s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  .preload .underline {
    position: relative;
    width: 180px;
    height: 1px;
    background-color: #EBF2F8;
    -webkit-animation: line-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
            animation: line-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  @-webkit-keyframes text-clip {
    from {
      -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
              clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    to {
      -webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
              clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
    }
  }
  @keyframes text-clip {
    from {
      -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
              clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    to {
      -webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
              clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
    }
  }
  @-webkit-keyframes line-clip {
    from {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    to {
      -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
              clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
  }
  @keyframes line-clip {
    from {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    to {
      -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
              clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
  }
  @-webkit-keyframes underline {
    from {
      -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
              clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    to {
      -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
              clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
  }
  @keyframes underline {
    from {
      -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
              clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    to {
      -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
              clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
  }
  .social {
    list-style: none;
  }
  .site-begin {
    background-color: #FBFEFE;
  }
  .site-begin nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5%  1fr 5%;
        grid-template-columns: 5%  1fr 5%;
  }
  .site-begin nav ul {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin nav ul a {
    text-decoration: none;
    color: #1F232D;
  }
  .site-begin nav ul a:hover {
    color: #2C71A7;
  }
  .site-begin nav ul a li {
    font-size: 1rem;
    list-style: none;
    margin-top: 1rem;
  }
  .site-begin .home {
    color: #1F232D;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 1fr 1fr 5%;
        grid-template-columns: 5% 1fr 1fr 5%;
    grid-gap: 2rem;
  }
  .site-begin .home .container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .hero {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    height: 80vh;
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .hero picture {
    position: relative;
    left: 10%;
  }
  .site-begin .home .container .hero picture img {
    width: 13rem;
    margin: 1rem 1rem;
  }
  .site-begin .home .container .hero .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .site-begin .home .container .hero .hero-text h1 {
    font-size: 6rem;
  }
  .site-begin .home .container .hero .hero-text h2 {
    font-size: 3rem;
  }
  .site-begin .home .container .hero .hero-text a {
    margin: 0.3rem 0;
  }
  .site-begin .home .container .hero .hero-text a button {
    background-color: #2C71A7;
    border: none;
    color: #FBFEFE;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .site-begin .home .container .hero .hero-text a button:hover {
    background-color: #1F232D;
    color: #FBFEFE;
  }
  .site-begin .home .container .hero .hero-text .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .site-begin .home .container .hero .hero-text .social ul a {
    text-decoration: none;
    color: #1F232D;
  }
  .site-begin .home .container .hero .hero-text .social ul a li {
    list-style: none;
    margin: 0;
    margin-right: 1rem;
  }
  .site-begin .home .container .hero .hero-text .social ul a:hover {
    color: #2C71A7;
  }
  .site-begin .home .container .heading {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem auto;
  }
  .site-begin .home .container .job-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .site-begin .home .container .job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.5rem 1rem;
    width: 300px;
    height: 250px;
    padding: 5%;
    border-radius: 10px;
    background-color: #F2F7F8;
    -webkit-box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
            box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
  }
  .site-begin .home .container .job h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1F232D;
  }
  .site-begin .home .container .job h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #1F232D;
  }
  .site-begin .home .container .job h4 {
    font-family: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #1F232D;
  }
  .site-begin .home .container .card-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .site-begin .home .container .card {
    margin: 1.5rem 1rem;
    width: 300px;
    height: 300px;
    padding: 5%;
    border-radius: 10px;
    background-color: #F2F7F8;
    -webkit-box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
            box-shadow: 0px 3px 8px 1px rgba(109, 106, 106, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .card h2 {
    color: #1F232D;
    font-size: 18px;
    text-align: center;
    margin: 0.5rem auto;
  }
  .site-begin .home .container .card p {
    color: #494E55;
    font-size: 0.88rem;
    font-weight: 500;
    text-align: center;
  }
  .site-begin .home .container .card p span {
    color: black;
    font-weight: 500;
  }
  .site-begin .home .container .card a {
    text-decoration: none;
    color: #1f2d1f;
  }
  .site-begin .home .container .card a:hover {
    color: #2C71A7;
  }
  .site-begin .home .container .view-more {
    text-decoration: none;
    color: #494E55;
  }
  .site-begin .home .container .view-more:hover {
    color: #2C71A7;
  }
  .site-begin .home .container .about-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .site-begin .home .container .about-img img {
    position: relative;
    top: 0%;
    margin: 2rem;
    width: 15rem;
  }
  .site-begin .home .container .about {
    margin: 1.5rem 1rem;
    width: 400px;
    height: auto;
    padding: 0%;
    border-radius: 0px;
    background-color: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .site-begin .home .container .about p {
    color: #494E55;
    font-size: 0.88rem;
    font-weight: 500;
    text-align: left;
    width: 28rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .site-begin .home .container .about p span {
    color: black;
    font-weight: 500;
  }
  .site-begin .home .container .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2% auto;
    padding: 5%;
    background-color: #FBFEFE;
    border-radius: 10px;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  .site-begin .home .container .form-container h2 {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: 300;
  }
  .site-begin .home .container .form-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-begin .home .container .form-container form label {
    margin: 5px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .site-begin .home .container .form-container form label input {
    margin: 5px;
    width: 15rem;
    border: none;
    border-bottom: 1px solid #1F232D;
    background-color: #FBFEFE;
  }
  .site-begin .home .container .form-container form button {
    background-color: #1F232D;
    border: none;
    padding: 10px;
    margin: 2px;
    color: #FFFFF0;
  }
  .site-begin .home .container .form-container form button:hover {
    background-color: #2C71A7;
  }
  .footer {
    height: 100vh;
    height: auto;
    background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
    color: #FBFEFE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-heading h1 {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .footer .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .social ul a {
    text-decoration: none;
    color: #Fcfbf8;
  }
  .footer .social ul a li {
    list-style: none;
    padding: 0.2rem 1rem;
  }
  .footer .social ul a:hover {
    color: #2C71A7;
  }
  .footer .made h2 {
    font-size: 0.75rem;
    font-weight: 300;
  }
  .footer .made h2 span a {
    text-decoration: none;
    color: #FBFEFE;
  }
  .footer .made h2 span a:hover {
    text-decoration: underline;
  }
  .footer .copyright h3 {
    margin: 0.63rem;
    font-size: 10px;
    font-weight: 200;
  }
}
/*# sourceMappingURL=style.css.map */