@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media only screen and (min-device-width:360px) and (max-device-width:768px){   //phones only having min width 480px
 
  .preload{
    //background-color: #3B3E47;
    background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
    color:#EBF2F8;
    height: 100vh;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   p{
     position: relative;
     transform: translateY(-50%);
     letter-spacing: 5px;
   }
   .underline{
     position: relative;
     width: 180px;
     height: 1px;
     background-color:#EBF2F8 ;

   }
  }
 .home{
   height: 100vh;
   background-image: url(./imgs/Chhipa-1.png);
   background-position: top right;
   background-size: cover;

   .Rectangle{ 
    position: relative;
    height: 50vh;
    width: 100%;
    top:50%;
    padding-bottom: 10%;
    padding-top: 10%;;
    display:flex ; 
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    //border: 1px solid red;
    //background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
    background: rgba(26, 26, 27, 0.38);
    background-blend-mode: multiply;
    color:#EBF2F8;
  p{
    margin: 5px;
    font-size: 48px;
  }
  .line-1{
    font-size: 38px;
    transform: translateX(-46%);
    
  }
  .line-3{
    font-size: 28px;
  }

  button{
    margin: 2%;
    padding:  10px 15px;
    font-weight: 400;
    border-radius: 30px;
    background-color: #EBF2F8;
    letter-spacing: 1px;
    color: #1F232D;
    border: none;
  }
   ul{
    display:flex ; 
    justify-content:space-around;
    align-items: center;
    list-style: none;
    margin: 2%;
    li{
      margin: 10%;
      
    }
   }
  }
 }

 .Experience{
  //background-color: #EBF2F8;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.104) 0%, rgba(235, 242, 248, 0.2) 100%), #EBF2F8;
  color: #1F232D;
   .heading{
   display: flex;
   justify-content: center;
    h1{
    position: relative;
    font-size: 28px;  
    padding-top: 15%;
   }
  }
  .brain-svg{
    position: relative;
    
    bottom: 20%;
    right: 0%;
  }
   .Jobs{
    height: 80vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.104) 0%, rgba(235, 242, 248, 0.2) 100%), #EBF2F8;
    display:flex ; 
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    //border: 1px solid red;
   
    .job{
    // margin: 2%;
    display:flex ; 
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    color:#494E55;
    //border: 1px solid blue;
    h4{
      font-family: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
    img{
      transform: scale(0.5);
    }
    }
    
   }
 }
hr{
 // color: rgb(235, 239, 250);
 border: none;
 border:1px solid rgb(251, 251, 251);
  

}
 //Projects
 .Projects{
  //height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.104) 0%, rgba(235, 242, 248, 0.2) 100%), #EBF2F8;
  color: #1F232D;
   .heading{
   display: flex;
   justify-content: center;
    h1{
    position: relative;
    font-size: 28px; 
    padding-top: 15%;
   }
  }
.container{
  display:flex ; 
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  //border: 1px solid green;
  .card{
    display:flex ; 
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    margin: 5%;
    width:250px;
    height: 250px;
    padding: 5%;
    background-color: #FFFFF0;
    border-radius: 10px;
    box-shadow: 0px 3px 8px 1px rgba(184, 178, 178, 0.25);
    //border: 1px solid grey;
    
    h2{
      color:#494E55;
      font-size: 18px;
      text-align: center;
      
    }
    p{
      color:#494E55;
      font-size: 14px;
      text-align: center;
      span {
        color:black;
        font-weight:500;
      }
    }
    }
    a{
      color:#494E55;
      font-size: 14px;
      padding-bottom: 10px;
      text-align: center;
      text-decoration:underline;
      &:hover{
        color:#1F232D;
      }
    }
  }
 }
//Contact
.Contact{
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.104) 0%, rgba(235, 242, 248, 0.2) 100%), #EBF2F8;
  color: #1F232D;
   .heading{
   display: flex;
   justify-content: center;
   h1{
   position: relative;
   font-size: 28px; 
   padding-top: 15%;
  }
}
.form-container{
  //border: 1px solid red;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
  padding: 5%;
  background-color: #FFFFF0;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 1px rgba(184, 178, 178, 0.25);
  h2{
    align-self: center;
    font-size: 18px;
    margin: 5px;
    font-weight: 300;
  }
  form{
    //border: 1px solid green;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center ;
  
  label{
    margin: 5px;
    font-weight: 400;
    letter-spacing: 1px;
    input{
      margin: 5px;
      border: none;
      border-bottom: 1px solid #1F232D;
      background-color: #FFFFF0;

    }
  }
  button{
    background-color: #1F232D;
    border:none;
    padding:10px;
    margin: 2px;
    color:#FFFFF0;
  }

  }
}

}
//footer
.footer{
  height: 30vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
  color:#EBF2F8;
  display: flex;
  flex-direction: column;
    justify-content: space-evenly;
    align-items:center ;
  .footer-heading{
    display: flex;
    justify-content: center;
    h1{
    position: relative;
    font-size: 16px; 
    padding-top:5px;
    padding-bottom: 5px;
    
   }
  }
  ul{
    display:flex ; 
    justify-content:space-around;
    align-items: center;
    list-style: none;
    margin: 2%;
    li{
      margin-bottom: 5%;
      margin-top: 5%;
      margin-left:10%;
      margin-right:10%;
      
    }
   }
   .made{
     h2{
       font-size: 12px;
       font-weight: 300;
     }
   }
   .copyright{
     h3{
       margin: 2px;
    font-size: 10px;
    font-weight: 200;
   }
  }
}
//end
}



@media only screen and (min-device-width:768px) and (max-device-width:1024px){   //medium devices landscape tablets and up
  .home{
    height: 100vh;
    background-image: url(./imgs/Chhipa-1.png);
    background-position: top;
    background-size: cover;
 
    .Rectangle{ 
     height: 100vh;
     width: 50%;
     display:flex ; 
     flex-direction: column;
     justify-content:center ;
     align-items: center;
     //background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
     color:#EBF2F8 ;
   p{
     margin: 5px;
     font-size: 48px;
   }
   .line-1{
     font-size: 38px;
     transform: translateX(-46%);
     
   }
   .line-3{
     font-size: 28px;
   }
 
   button{
     margin: 2%;
     padding:  10px 15px;
     font-weight: 400;
     border-radius: 30px;
     background-color: #EBF2F8;
     letter-spacing: 1px;
     color: #1F232D;
     border: none;
   }
    ul{
     display:flex ; 
     justify-content:space-around;
     align-items: center;
     list-style: none;
     margin: 2%;
     li{
       margin: 10%;
     }
    }
   }
  }
 
  .Experience{
   //background-color: #EBF2F8;
   background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.104) 0%, rgba(235, 242, 248, 0.2) 100%), #EBF2F8;
   height: 100vh;
    display:flex ; 
    flex-direction: column;
    justify-content:center ;
    align-items: center;
  }

 //end 
}


@media only screen and (min-device-width:1024px)and (max-device-width:1280px){      // mini laptops
  .home{
    height: 100vh;
    background-image: url(./imgs/Chhipa-1.png);
    background-position: top;
    background-size: cover;
 
    .Rectangle{ 
     height: 100vh;
     width: 50%;
     display:flex ; 
     flex-direction: column;
     justify-content:center ;
     align-items: center;
     //background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
     color:#EBF2F8 ;
   p{
     margin: 5px;
     font-size: 48px;
   }
   .line-1{
     font-size: 38px;
     transform: translateX(-46%);
     
   }
   .line-3{
     font-size: 28px;
   }
 
   button{
     margin: 2%;
     padding:  10px 15px;
     font-weight: 400;
     border-radius: 30px;
     background-color: #EBF2F8;
     letter-spacing: 1px;
     color: #1F232D;
     border: none;
   }
    ul{
     display:flex ; 
     justify-content:space-around;
     align-items: center;
     list-style: none;
     margin: 2%;
     li{
       margin: 10%;
     }
    }
   }
  }
 
  .Experience{
   //background-color: #EBF2F8;
   background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.104) 0%, rgba(235, 242, 248, 0.2) 100%), #EBF2F8;
   height: 100vh;
    display:flex ; 
    flex-direction: column;
    justify-content:center ;
    align-items: center;
  }

  //end
}


@media only screen and (min-width:1280px){      // large laptops and desktops and up
  .home{
    height: 100vh;
    background-image: url(./imgs/Chhipa-1.png);
    background-position: top;
    background-size: cover;
 
    .Rectangle{ 
     height: 100vh;
     width: 50%;
     display:flex ; 
     flex-direction: column;
     justify-content:center ;
     align-items: center;
     //background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
     color:#EBF2F8 ;
   p{
     margin: 5px;
     font-size: 48px;
   }
   .line-1{
     font-size: 38px;
     transform: translateX(-46%);
     
   }
   .line-3{
     font-size: 28px;
   }
 
   button{
     margin: 2%;
     padding:  10px 15px;
     font-weight: 400;
     border-radius: 30px;
     background-color: #EBF2F8;
     letter-spacing: 1px;
     color: #1F232D;
     border: none;
   }
    ul{
     display:flex ; 
     justify-content:space-around;
     align-items: center;
     list-style: none;
     margin: 2%;
     li{
       margin: 10%;
     }
    }
   }
  }
 
  .Experience{
   //background-color: #EBF2F8;
   background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.104) 0%, rgba(235, 242, 248, 0.2) 100%), #EBF2F8;
   height: 100vh;
    display:flex ; 
    flex-direction: column;
    justify-content:center ;
    align-items: center;
  }

  //end
}
